<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemons Live</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/modules/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/modules/animatecss/animate.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
  <script src="/modules/jquery/jquery.min.js"></script>
</head>

<style media="screen">
  .shadow-svg {
    -webkit-filter: drop-shadow(0 2px 4px -1px rgba(0,0,0,.06));
    filter: drop-shadow(0 2px 4px -1px rgba(0,0,0,.06));
  }

  .poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  }

  :root {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }

  .animate__headShake {
    --animate-duration: 4s;
    --animate-delay: 5s;
  }
</style>

<body>
  <input type="hidden" id="game-id" value="<%= gameID %>">
  <input type="hidden" id="user-id" value="<%= user._id %>">
  <input type="hidden" id="username" value="<%= user.username %>">
  <input type="hidden" id="class-id" value="<%= foundClass._id %>">
  <button type="button" id="join-game" class="hidden"></button>
  <div class="fixed bg-dark h-screen w-screen poppins" id="gameArea">
    <!-- This is where the templates defined below will be used -->
  </div>

  <!-- Templates -->
  <script id="waiting-room-template" type="text/template">
    <div class="fixed w-full h-full overflow-hidden select-none">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 8rem; left: 2%; top: 3%;" src="/img/semi-red.svg" alt="Red Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 16%; min-width: 5rem; left: 94%; top: 75%;" src="/img/semi-yellow.svg" alt="Yellow Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 8rem; left: 34%; top: -5%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 3rem; left: 53%; top: 76%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 6rem; left: -2%; top: 69%;" src="/img/semi-purple.svg" alt="Purple Semicircle">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 8rem; left: 16%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 8rem; left: 76%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 15%; min-width: 7rem; left: -3%; top: 39%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 16%; min-width: 5rem; left: 84%; top: 13%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 21%; min-width: 6rem; left: 3%; top: -12%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 3rem; left: 96%; top: 24%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 6rem; left: 23%; top: 93%;" src="/img/line-purple.svg" alt="Purple Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 14%; min-width: 7rem; left: 65%; top: -5%;" src="/img/line-purple.svg" alt="Purple Line">
    </div>
    <div class="flex h-full justify-center items-center">
      <div class="xl:w-4/12 lg:w-5/12 sm:w-8/12 w-11/12 px-4 mx-4 bg-dark-dark rounded-md shadow-2xl text-white z-20">
        <div class="flex flex-col items-center w-full p-4 lg:p-12 z-30" style="min-height: 600px;">
          <img class="w-64 mb-8" src="/img/logo-live.png" alt="Lemons Live logo">
          <p class="text-xl text-center mb-6"><span class="font-bold">Game started!</span><br/> Waiting for students to join...</p>
          <div id="playersWaiting" class="w-full text-center h-48 flex-row flex-wrap overflow-y-scroll">
          </div>
          <p class="mt-auto mb-2"><span id="userCount">0</span> players waiting . . .</p>
        </div>
      </div>
    </div>
  </script>

  <script id="question-template" type="text/template">
    <div class="fixed w-full h-full overflow-hidden select-none">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 8rem; left: 2%; top: 3%;" src="/img/semi-red.svg" alt="Red Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 16%; min-width: 5rem; left: 94%; top: 75%;" src="/img/semi-yellow.svg" alt="Yellow Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 8rem; left: 34%; top: -5%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 3rem; left: 53%; top: 76%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 6rem; left: -2%; top: 69%;" src="/img/semi-purple.svg" alt="Purple Semicircle">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 8rem; left: 16%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 8rem; left: 76%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 15%; min-width: 7rem; left: -3%; top: 39%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 16%; min-width: 5rem; left: 84%; top: 13%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 21%; min-width: 6rem; left: 3%; top: -12%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 3rem; left: 96%; top: 24%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 6rem; left: 23%; top: 93%;" src="/img/line-purple.svg" alt="Purple Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 14%; min-width: 7rem; left: 65%; top: -5%;" src="/img/line-purple.svg" alt="Purple Line">
    </div>
    <div class="flex h-full justify-center items-center">
      <div class="xl:w-8/12 lg:w-10/12 w-11/12 px-4 mx-4 bg-dark-dark rounded-md shadow-2xl text-white z-20">
        <div class="flex flex-col items-center w-full p-4 lg:p-12 z-30" style="min-height: 600px;">
          <img class="w-40 mb-8" src="/img/logo-live.png" alt="Lemons Live logo">
          <div id="teamScores">
          </div>
          <p class="text-xl text-center mb-6 mt-4 w-full mx-4" id="question"></p>
          <div class="mt-auto flex flex-row w-full mx-6 items-center justify-between">
            <div class="w-full px-3 mb-6">
              <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="grid-password">
                Your Answer
              </label>
              <input class="appearance-none block w-full bg-light-dark text-dark rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-light" id="answer" type="text" placeholder="Enter your answer here">
            </div>
            <div id="nextQuestion">
              <button id="btnSubmitQuestion" type="button" class="mb-3 ml-2 font-semibold bg-theme4 hover:bg-theme3 text-dark border-b-2 rounded py-2 px-4 border-dark shadow">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="finish-template" type="text/template">
    <div class="fixed w-full h-full overflow-hidden select-none">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 8rem; left: 2%; top: 3%;" src="/img/semi-red.svg" alt="Red Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 16%; min-width: 5rem; left: 94%; top: 75%;" src="/img/semi-yellow.svg" alt="Yellow Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 8rem; left: 34%; top: -5%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 3rem; left: 53%; top: 76%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 6rem; left: -2%; top: 69%;" src="/img/semi-purple.svg" alt="Purple Semicircle">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 8rem; left: 16%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 8rem; left: 76%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 15%; min-width: 7rem; left: -3%; top: 39%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 16%; min-width: 5rem; left: 84%; top: 13%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 21%; min-width: 6rem; left: 3%; top: -12%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 3rem; left: 96%; top: 24%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 6rem; left: 23%; top: 93%;" src="/img/line-purple.svg" alt="Purple Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 14%; min-width: 7rem; left: 65%; top: -5%;" src="/img/line-purple.svg" alt="Purple Line">
    </div>
    <div class="flex flex-col text-center h-full justify-center items-center text-light">
      <div class="xl:w-8/12 lg:w-10/12 w-11/12 ">
        <div class="text-5xl font-bold">
          Good work! Your team has completed all of the questions!
        </div>
        <div class="text-2xl mt-6 font-semibold text-theme1">
          Now we wait for other teams to finish . . .
        </div>
      </div>
    </div>
  </script>

  <script id="team-win-template" type="text/template">
    <div class="fixed w-full h-full overflow-hidden select-none">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 8rem; left: 2%; top: 3%;" src="/img/semi-red.svg" alt="Red Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 16%; min-width: 5rem; left: 94%; top: 75%;" src="/img/semi-yellow.svg" alt="Yellow Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 8rem; left: 34%; top: -5%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 3rem; left: 53%; top: 76%;" src="/img/semi-teal.svg" alt="Teal Semicircle">
      <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 6rem; left: -2%; top: 69%;" src="/img/semi-purple.svg" alt="Purple Semicircle">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 8rem; left: 16%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 8rem; left: 76%; top: 64%;" src="/img/line-red.svg" alt="Red Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 15%; min-width: 7rem; left: -3%; top: 39%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 16%; min-width: 5rem; left: 84%; top: 13%;" src="/img/line-yellow.svg" alt="Yellow Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 21%; min-width: 6rem; left: 3%; top: -12%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 3rem; left: 96%; top: 24%;" src="/img/line-teal.svg" alt="Teal Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 6rem; left: 23%; top: 93%;" src="/img/line-purple.svg" alt="Purple Line">
      <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 14%; min-width: 7rem; left: 65%; top: -5%;" src="/img/line-purple.svg" alt="Purple Line">
    </div>
    <div class="flex flex-col text-center h-full justify-center items-center text-light z-20">
      <div class="xl:w-8/12 lg:w-10/12 w-11/12 ">
        <div class="text-5xl font-bold z-20">
          Congratulations to <span class="text-theme3" id="first-team"></span> for placing first!
        </div>
        <div class="text-2xl mt-6 font-semibold text-light z-20" id="leaderboard">

        </div>
      </div>
    </div>
  </script>

  <script type="text/javascript">
    $(window).ready(function() {
      document.getElementById("join-game").click();
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/student.js" charset="utf-8"></script>
</body>
</html>
