<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemons Live</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/selectize.default.css">
  <link rel="stylesheet" href="/modules/fontawesome/css/all.min.css">
  <script src="/modules/jquery/jquery.min.js"></script>
  <script src="/modules/alpinejs/alpine.js"></script>
  <script src="/modules/alpinejs/alpine-ie11.js"></script>
  <script src="/js/selectize.min.js"></script>
</head>

<style media="screen">
  .line-cut-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-cut-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-cut-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-cut-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-cut-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

<body class="flex flex-col w-full bg-dark">
  <%- include('./partials/flash') %>
  <%- include('./partials/header') %>
  <%- include('./partials/footer') %>
</body>

</html>
