<% layout('./boilerplate') -%>

<form action="/dashboard" method="POST">
  <div class="form-group">
      <label for="name">Class Name</label>
      <input type="text" class="form-control" name="className" id="name" placeholder="Title" required>
  </div>
  <button type="submit">Add Class</button>
</form>
