<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemons Live</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/modules/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/modules/animatecss/animate.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
  <script src="/modules/jquery/jquery.min.js"></script>
</head>

<style media="screen">
  .shadow-svg {
    -webkit-filter: drop-shadow(0 2px 4px -1px rgba(0,0,0,.06));
    filter: drop-shadow(0 2px 4px -1px rgba(0,0,0,.06));
  }

  .poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  }

  :root {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }

  .animate__headShake {
    --animate-duration: 4s;
    --animate-delay: 5s;
  }
</style>

<%- include('../partials/flash') %>

<body class="w-full h-full bg-dark m-0 p-0 poppins">
  <div class="fixed w-full h-full overflow-hidden">
    <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 8rem; left: 2%; top: 3%;" src="img/semi-red.svg" alt="Red Semicircle">
    <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 16%; min-width: 5rem; left: 94%; top: 75%;" src="img/semi-yellow.svg" alt="Yellow Semicircle">
    <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 8rem; left: 34%; top: -5%;" src="img/semi-teal.svg" alt="Teal Semicircle">
    <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 12%; min-width: 3rem; left: 53%; top: 76%;" src="img/semi-teal.svg" alt="Teal Semicircle">
    <img class="animate__animated animate__infinite animate__pulse absolute shadow-svg z-10 h-auto" style="width: 19%; min-width: 6rem; left: -2%; top: 69%;" src="img/semi-purple.svg" alt="Purple Semicircle">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 8rem; left: 16%; top: 64%;" src="img/line-red.svg" alt="Red Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 8rem; left: 76%; top: 64%;" src="img/line-red.svg" alt="Red Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 15%; min-width: 7rem; left: -3%; top: 39%;" src="img/line-yellow.svg" alt="Yellow Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 16%; min-width: 5rem; left: 84%; top: 13%;" src="img/line-yellow.svg" alt="Yellow Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 21%; min-width: 6rem; left: 3%; top: -12%;" src="img/line-teal.svg" alt="Teal Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 12%; min-width: 3rem; left: 96%; top: 24%;" src="img/line-teal.svg" alt="Teal Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 19%; min-width: 6rem; left: 23%; top: 93%;" src="img/line-purple.svg" alt="Purple Line">
    <img class="animate__animated animate__infinite animate__headShake absolute shadow-svg h-auto" style="width: 14%; min-width: 7rem; left: 65%; top: -5%;" src="img/line-purple.svg" alt="Purple Line">
  </div>
  <div class="flex flex-row justify-center">
    <div class="xl:w-4/12 lg:w-5/12 sm:w-8/12 w-11/12 h-full mt-16 px-4 mx-4 bg-dark-dark rounded-md shadow-2xl text-white z-20">
      <div class="flex flex-col items-center w-full p-4 lg:p-12 z-30" style="min-height: 600px;">
        <img class="lg:w-64 w-48 mb-16" src="/img/logo-live.png" alt="Lemons Live logo">
        <form action="/login" method="POST" novalidate class=>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input class="text-dark shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="username" name="username" placeholder="Username" required>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="text-dark shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" id="password" name="password" placeholder="******************" required>
          </div>
          <div class="flex flex-col items-center justify-center mt-8">
            <button type="button" class="font-semibold bg-theme4 hover:bg-theme3 text-dark border-b-2 rounded py-2 px-4 border-dark shadow mb-6">
              Sign In
            </button>
            <a class="mt-16 underline inline-block align-baseline text-sm text-theme1 hover:text-theme2" href="/register">
              New user? Register here!
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
